* {
	margin: 0;
	padding: 0;
}

body {
	background-image: url('images/fundo.png');
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
}

a{
	text-decoration: none;
	color: #4b566a;
	font-weight: bold;
	padding: 5px;

}

h2{
	padding-bottom: 10px;
	color: #828271;
	font-size: 1.2em;
}

h4 {

}

.principal{
	width: 900px;
	margin: 10px;
}

#links-bar{
	width: 880px;
	height: 50px;
	padding: 10px;
	margin-bottom: 5px;
	display: flex;
	align-items: center;
	background-color: #c5c5b2;
}

.info{
	padding: 20px;
	background-color: #e8e8d9;
}

.paragrafos{
	background-color: #e8e8d9;
}

.images {
	border: 10px solid #c3c3ae;
}

.rodape{
	width: 880px;
	padding: 10px;
	text-align: center;
}